@{
  Layout = "_Layout";
}

<html>

<body>
  <div class="retro">
  </div>
  <div id="about">
    <h2 id="whoWeAre">Who We Are</h2>
    <div id="bio">

      <p>Welcome to CarDrop, where the rugged spirit of adventure meets the world of vehicle drop kick- uh shipping. At
        CarDrop,
        we
        don't just handle vehicles; we unleash them into the wild, ensuring they can withstand the toughest journeys.
      </p>

      <p>Picture this: our vehicles, battle-tested and ready for anything. From sleek sedans to powerful trucks, each
        vehicle in our inventory has weathered the storms and conquered the roads less traveled. We take pride in the
        scars and scratches that tell a story of resilience and durability.</p>

      <p>Why choose CarDrop? We specialize in providing vehicles that are as tough as the people who drive them. Our
        commitment to robust quality means you get machines that don't just survive, but thrive in challenging
        conditions.
        We source our vehicles from manufacturers renowned for building rugged and dependable rides, ensuring you're
        equipped for any rugged terrain.</p>

      <p>Customer satisfaction is not just a goal; it's a mission. Our team of hardcore professionals is dedicated to
        delivering a service that matches the grit of our vehicles. Whether you're a fearless adventurer or someone
        who
        demands more from their ride, we've got your back with a selection of vehicles that embrace the wild side.</p>

      <p>Navigate our battle-ready inventory through our user-friendly online platform, where you can witness the
        scars
        of
        resilience and the marks of adventure. Choose CarDrop for a driving experience that's not just about getting
        from
        point A to B but conquering the untamed paths in between.</p>

      <p>Embrace the rugged revolution- welcome to the adrenaline-fueled world of CarDrop.
      </p>
    </div>
  </div>
  @await Html.PartialAsync("RotatingCar")
</body>

</html>