<header id="header">
<a href="/">
  <img src="~/img/cardrop_no_text.png" alt="car drop logo">
  <div>
</a>
<a href="/">
  <h1>CARDROP</h1>
</a>
  <em>'The Official Automotive DropShipper of the NFL*'</em>
  </div>
  <nav>
    <a class="nav-button" href='/vehicles/new'>Drop</a>
    <a class="nav-button" href='/vehicles'>Ship</a>
    <a class="nav-button" href='/about'>About</a>
  </nav>
</header>