@{
  Layout = "_Layout";
}

<!DOCTYPE html>
<html>

<body>
  @using CarDrop.Models;
  <div class="retro">
  </div>
  <div id="viewVehicles">
    <h1>Vehicles</h1>

    @if (Model.Count == 0)
    {
      <p>There are no vehicles to display.</p>
    }
    @foreach (Vehicle vehicle in Model)
    {
      <h3>@vehicle.Name</h3>
      <br>
      <p>Volume: @vehicle.GetVolume() Cubic Ft.</p>
      <p>Est. Shipping Cost: $@vehicle.CalcShippingCost()</p>
      <br>
    }
    <a class="nav-button white-button" href="/vehicles/new">Add a new vehicle.</a>
  </div>
  @await Html.PartialAsync("RotatingCar")
</body>

</html>
