@{
  Layout = "_Layout";
}

<!DOCTYPE html>
<html>

<body>
  <div class="retro">
    </div>
    @await Html.PartialAsync("RotatingCar")
  <form action="/vehicles" method="post">
    <h3 id="formTitle">New Vehicle</h3>
    <div id="firstInput">
      <label for="name">Vehicle Year, Make, and Model</label>
      <br>
      <input id="name" name="name" type="text">
      <br>
    </div>
    <div id="last4Questions">
      <label for="length">Length In Inches</label>
      <input id="length" name="length" type="text">
      <br>
      <label for="width">Width In Inches</label>
      <input id="width" name="width" type="text">
      <br>
      <label for="height">Height In Inches</label>
      <input id="height" name="height" type="text">
      <br>
      <label for="weight">Weight In Pounds</label>
      <input id="weight" name="weight" type="text">
      <br>
      <label for="image">Image</label>
      <input id="image" name="image" type="file">
      <br>
    </div>
    <button id="formButton" type="submit">Submit</button>
  </form>
  
</body>

</html>
